$content-max-width: 1000px;
$content-padding: 0 15px;
$blue: #0073be;
$dark-blue: #074478;

.content-container{

}

.content-inner{
	max-width: $content-max-width;
	padding: $content-padding;
	box-sizing: border-box;
	margin:  0 auto;
}

@import 'reset';
@import 'mixin-keys';
@import 'mixin-rules';
@import 'home';
@import 'hero-sections';
@import 'admin';
@import 'mobile-menu';
@import 'header';
@import 'footer';
@import 'sliders-and-gliders';


body{
	padding-top: 60px;
}